@model Project_v._1.Models.job

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>รายละเอียดงาน</h1>
<hr />
<p>

</p>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <section class="logo-wrapper">
                <img src="@Html.DisplayFor(model => model.pictruejob)" alt="">
            </section>
        </div>
    </div>

    <ul class="list-unstyled sec-list">
        <li><span class="font-control-tahoma f15">ชื่องาน : </span> @Html.DisplayFor(model => model.namejob)</li>
        <li><span class="font-control-tahoma f15">รายละเอียดงาน : </span> @Html.DisplayFor(model => model.detail)</li>
        <li><span class="font-control-tahoma f15">เบอร์โทรศัพท์ : </span> @Html.DisplayFor(model => model.phone)</li>
        <li><span class="font-control-tahoma f15">ID line : </span> @Html.DisplayFor(model => model.line)</li>
        <li><span class="font-control-tahoma f15">สถานที่ : </span> @Html.DisplayFor(model => model.location)</li>
        <li><span class="font-control-tahoma f15">ราคา : </span> @Html.DisplayFor(model => model.price)</li>
    </ul>
</div>
<div>
    @* @Html.ActionLink("Edit", "Edit", new {  id = Model._id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model._id}) |
        <a asp-action="register">สมัครงาน</a>*@
</div>
